body {
    background: #FFD670;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

ul {
    text-align: center;
    list-style-position: inside;
}

input {
    width: 200px;
    padding: 12px 20px;
    border: 1px solid #000000;
    border-radius: 4px;
}

.devour-btn, button {
    width: 100px;
    height: 30px;
    border-radius: 4px;
    font-size: 16px;
    background: #70D6FF;
    display: inline-block;
}

button {
    width: 150px;
    height: 40px;
    font-size: 20px;
}

button:hover {
    cursor: pointer;
    border: 1px solid #FF70A6;
}

.burgers {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
}

.devoured-true {
    margin: auto;
    width: 50%;
    text-align: left;
}

.devoured-false {
    margin: auto;
    width: 50%;
    text-align: left;
}

#burger-name {
    font-size: 16px;
}